# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# Environment variables
.env

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Dependency directories
jspm_packages/
bower_components/

# Testing
coverage/
.nyc_output/

# Build files
build/
dist/
tmp/
temp/
out/

# IDE/editor-specific files
.vscode/
.idea/
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Docker
docker-compose.override.yml
docker-compose.debug.yml

# Miscellaneous
*.swp
*.swo
